{% extends '_base.html' %}
{% block title %}{% endblock %}

{% block page %}
      <div class="page-main w-100 toggled">
        {% include 'dashboard/components/_sidebar.html' %}
        <div id="content">
            {% include "dashboard/components/_header.html" %}
          
            {% block content %}
            {% endblock %}
            
            {% include "dashboard/components/_footer.html" %}
        </div>        
      </div>
{% endblock %}
