{% extends 'encrypter/index.html' %}

{% block categories %}
{% csrf_token %}


<div id="master" class="master master-panel">
 <form id="mform" method="POST" action="{% url 'encrypter:set' %}" class="master-form">
 {% csrf_token %}
 <label for="master-key"><h3>Master Key</h3></label><br/>
 <input id="master-key" type="password" name="master-key" class="form-input">
 </form><br/>
 <input id="master-submit" type="submit"  value="Unlock" class="form-input master-form" />
</div>

<div id="panel" class="pass-panel">
<i class="cross-panel fa fa-2x fa-times" aria-hidden="true"></i>
  <div id="pass-row" class="row">
  </div>
</div>

<div id="cats">         
<div id="cats-inner" class="row">

</div>
 </div>
{% endblock %}

{% block footer_js %}

<script>
$(document).ready(function() {

var categs;
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

/* Function to check if session cookies is set
------------------------------------------------*/

function checkcook()
{
$.ajax({
  url: "{% url 'encrypter:get' %}",
  type: "POST",
  headers: {"X-CSRFToken": csrftoken },
  data: {'demand':'check'},
  success: function(data){
    if(data.master == true)
    {
       $("#master").css("display","none");
       $("#cats").css("display","block");
       load_categories();
    }
    else{
      $("#master").css("display","block");
      $("#cats").css("display","none");
    }
  }
});
}
checkcook();

/* ADD CATEGORY FUNCTION 
---------------------------*/

$(document).on("click","#add_cat",function() {
  $(this).fadeTo(500, 0, "swing", function() {
    console.log("callback");
    var url = "{% url 'encrypter:title_form' %}";
    $.ajax({
      url: url,
      type: "GET",
      async: "false",
      crossOrigin: true,
      success: function(formtitle) {
        $("#cat_form").html(
          '<form id="title_form" action="' + url + '" method="POST">' +
            '{% csrf_token %}' +
            "<legend for='id_title' style='font-size:1.0em'>Name Your Collection</legend>" +
            formtitle +
            "</form>" + 
            "<button id='submit_form'>Submit</button>" 
        );
        $("#title_form").fadeTo(500, 1, "swing");
      },
      error: function(xhr, status, error) {
        var err = eval("(" + xhr.responseText + ")");
        alert(err.Message);
      }
    });
  });
});

/* ADDING CATEGORY FORM
--------------------------*/
  
   $(document).on("click", "#submit_form", function(event){
    console.log("form submitted!")  // sanity check
    categ_created();
    });
   
    function categ_created() {
    frm = $("#title_form")
    $.ajax({
       data: frm.serialize(), 
       type: frm.attr('method'), 
       url: frm.attr('action'), 
       async: "false",
       crossOrigin: true,
        // handle a successful response
        success : function(data) {
          if(data.success == true)
          {
          load_categories();
          }
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}

/* LOADING CATEGORIES 
------------------------*/

function load_categories(){

$.ajax({
       url: "http://127.0.0.1:8000/encrypter/api/categories/",  
       type: "GET", 
       async: "false",
       crossOrigin: true,
       data: {
        csrfmiddlewaretoken: window.CSRF_TOKEN
    },
       success : function(data) {
         categs = data.results;
         let cats = '';
  
          for(let i=0; i<categs.length ; i++)
          {
           url = "{% url 'encrypter:store' %}?cat="+categs[i].id
           cats += '<div class="card inner-form col-12 col-md-3 col-lg-3 text-center">' +
               '<a name="' + categs[i].id + '" class="rm-icon float-right"><i class="fa fa-trash-o" aria-hidden="true"></i></a>' +
               /*'<div class="card-head cat-title"><h3>' + 
                  categs[i].title +
               '</h3></div>'*/ 
               '<div id="' + categs[i].id + '" class="panopen-text">' + 
               categs[i].title +
                 //'<a href=' + url + '><i id="add_plat" class="fa fa-2x fa-plus-square ic" aria-hidden="true"></i></a>' +
               '</div>' +
              '</div>';
       }
       cats += '<div id="cat_form" class="card inner-form col-12 col-md-3 col-lg-3 text-center">' +
               '<div class="card-body">' + 
                 '<i id="add_cat" class="fa fa-4x fa-plus-square ic" aria-hidden="true"></i>' +
               '</div>' +
              '</div>';

       $("#cats-inner").html(cats)    
       }
}); 


}




/* LOADING PASSWORDS FUNCTION 
--------------------------------*/

function loadpass(cook){
   
   $.ajax({
           url: "http://127.0.0.1:8000/encrypter/api/passwords/?cat=" + cook,
           type: "GET",
           async: "false",
           crossOrigin: true,
           success: function(data) {
            
             data = data.results;
                 let pass = "";
                 console.log(data);
                 let url = "{% url 'encrypter:store' %}?cat=" +  cook;
                  for(let i=0;i<data.length;i++)
                  { 
                    pass += "<div class='input-group col-12 col-md-3 col-lg-3 mb-2'>" + 
                            "<div class='input-group-prepend'>" +
                            "<div class='input-group-text'>" + data[i].icon + "</div>" +
                            "</div>" + 
                            "<input type='text' name='" + data[i].id + "' class='form-control lockit' id='inlineFormInputGroupUsername2' value='" + data[i].password + "' placeholder='Password'>" +
                            "<div class='input-group-append'>" + 
                            "<span class='input-group-text' id='basic-addon2'><i id='" + data[i].category + "' name='" + data[i].id + "' class='pass-cross fa fa-times' aria-hidden='true'></i></span>" + 
                            "</div></div>";
                     
                           //let selector = "#" + categs[j].id;
                           $("#pass-row").html("");      
                          
                       }
                       console.log(url);
                       pass += "<div class='col-12 col-md-3 col-lg-3 mb-2'>" +  
                            "<a href=" + url + " class='add-btn btn btn-primary'>Add Passwords</a>" +
                            "</div>";
                       
                        $("#pass-row").html(pass);  
                        $(".pass-panel").css("display","block");
                        toglockit();
            }
                        });  
  }

/* TOGGLE CATEGORIES
----------------------*/

$(document).on("click","#master-submit",function(){

let id = $(this).attr("name");
let form = $("#mform");
if ($("#master-key").val() !== "")
{
 $.ajax({
       data: form.serialize(), 
       type: form.attr('method'), 
       url: form.attr('action'), 
       async: "false",
       crossOrigin: true,
        // handle a successful response
        success : function(data) {
          if(data.success == true)
          {
          /*$(".lockit").each(function(i,v){
             let id = $(v).attr("name");
             console.log(v);
             console.log(id);
             var input = search(id,data.passwords);
             console.log(input);
             console.log($("input"));
             $("input[name=" + input['id'] + "]").attr("placeholder",input['password']);
            });*/
          checkcook();
          }
        },

});
}
else{
  console.log("fail");
}
});


function search(nameKey, myArray){
  console.log("inside search");
 for (var i=0; i < myArray.length; i++) {
   console.log("loop iterates");
    if (myArray[i].id == nameKey) {
      console.log("find it" + JSON.stringify(myArray[i]));
    return JSON.stringify(myArray[i]);
    }
  }
}

/* TOGGLE PASSWORDS
----------------------*/

$(document).on("click",".panopen-text",function(e){
  let cook = $(this).attr("id")
  loadpass(cook);
});

$(document).on("click",".cross-panel",function(){
  $(".pass-panel").css("display","none");
});

/* TOGGLE LOCKIT
------------------*/
function toglockit(){
$("#lockem").css("display","block");

$("#lockem").click(function() {
  let lockthem = [];
  let flag = 0;
$(".lockit").each(function(i, v) {
  console.log(v);
  if($(v).val() == '')
  {
    $(v).attr('placeholder','Field Empty');
    $(v).addClass('redholder');
    flag = 1;
  }
  else{
  let pass = {id:$(v).attr("name"),value:$(v).val()}
  lockthem.push(pass);
  }
  
     });
     console.log(lockthem);

     if(flag == 0)
     {
     $.ajax({
       url: "{% url 'encrypter:encrypter' %}",
       type: "POST",
       data: {"data":JSON.stringify(lockthem)},
       headers: {"X-CSRFToken": csrftoken },
       success: function(data){
          if(data.success == true)
          {
             $("#lockem").css("display","none");
             $(".pass-panel").css("display","none");
             $.ajax({
               url:"{% url 'encrypter:del' %}",
               type:"POST",
               headers: {"X-CSRFToken": csrftoken },
               success: function(data){
                 if(data.master == 'deleted')
                 {
                 checkcook();
                 }
               }

             });
          }
       }
     });
     }
  });
}

/* DELETE CATEGORY API CALL 
-----------------------------*/

$(document).on("click",".rm-icon",function(){
var post_data = {
  'csrfmiddlewaretoken':"{{ csrf_token }}"
}

let id = $(this).attr("name");

$.ajax({
  
  url: "http://127.0.0.1:8000/encrypter/api/categories/" + id + "/",   
       type: "DELETE", 
       data: post_data,
       headers: { "X_METHODOVERRIDE": "DELETE","X-CSRFToken": csrftoken },
       success : function(data) {

         load_categories();
       }
});
});

/* DELETE PASSWORD API CALL
-----------------------------*/

$(document).on("click",".pass-cross",function(){

let cook = $(this).attr("id")
let id = $(this).attr("name");
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

$.ajax({
  
  url: "http://127.0.0.1:8000/encrypter/api/passwords/" + id + "/",   
       type: "DELETE", 
       headers: { "X_METHODOVERRIDE": "DELETE","X-CSRFToken": csrftoken },
       success : function() {
         loadpass(cook);
       }
});
});

});
</script>

{% endblock %}