{% extends '_base.html' %}
{% load static %}
{% block title %}PassMan{% endblock %}

{% block header_css %}
<link rel="stylesheet" href="{% static 'encrypter/css/style.css' %}">
{% endblock %}

{% block header_js %}
<script src="{% static 'assets/js/essentials.js' %}"></script>
{% endblock %}

{% block page %}

      <div class="page-main w-100 toggled">
        {% include 'encrypter/components/_sidebar.html' %}
        <div id="content">
            {% include "encrypter/components/_header.html" %}
            <div class="px-2" style="margin-bottom: 80px;">
            {% block content %}

            <!-- Master Password Loader 

            <div class="m-curtains-set">
              <div class="ml-curtain">
              </div>
              <div class="mr-curtain">
              </div>
            </div>

            Master Password Loader Ends -->

            <!-- App Section -->

            <div class="container text-center password-box">
            {% block categories %}
            
            {% endblock %}
            </div>

            <!-- App Section Ends -->

            {% endblock %}
            </div>
            {% include "encrypter/components/_footer.html" %}
        </div>        
      </div>

{% endblock %}

{% block footer_js %}

<script src="{% static 'encrypter/js/main.js' %}"></script>

{% endblock %}