{% extends '_base.html' %}
{% load static %}

{% block header_css %}
<link rel="stylesheet" href="{% static 'encrypter/css/style.css' %}">
{% endblock %}

{% block header_js %}
<script src="{% static 'assets/js/essentials.js' %}"></script>
<script src="{% static 'encrypter/js/platter.js' %}"></script>

{% endblock %}

{% block page %}
    
      <div class="page-main w-100 toggled">
        {% include 'encrypter/components/_sidebar.html' %}
        <div id="content">
   
            {% include "encrypter/components/_header.html" %}
            <div class="px-2" style="margin-bottom: 80px;">

            <!--Loader--> 
        <div class="lds-facebook"><div></div><div></div><div></div></div>

            {% block content %}
        
        
            <div class="input-group offset-2 col-8">
              <input id="search" type="search" class="form-control" placeholder="I'm Searching for..">
              <span><i class="fa fa-2x fa-arrow-circle-right" aria-hidden="true"></i></span>
            </div>
          
           <div class="plat-section">
            <div class="row platrow">
        
            </div>
           </div>
            {% endblock %}
            </div>
            {% include "encrypter/components/_footer.html" %}
        </div>        
      </div>
{% endblock %}

{% block footer_js %}
<script src="{% static 'encrypter/js/store.js' %}"></script>

<script>
var url_string = window.location.href;
var url = new URL(url_string);
var c = url.searchParams.get("cat");
setCookie("user","{{user.id}}");
setCookie("cat",c);



</script>
{% endblock %}
