/* LOADER CSS */

#cats {
  position: relative;
  display: none;
}

#master {
  position: relative;
  width: 100%;
  height: 70vh;
}

.master > .master-form {
  position: relative;
  margin: auto;
  top: 30%;
}

#lockem {
  display: none;
}

.redholder::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c42929 !important;
  opacity: 1;
}

.redholder:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

.redholder::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}

.lds-facebook {
  display: none;
  position: absolute;
  z-index: 5;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 20%;
  height: 20%;
  transition: all 0.5s;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: rgb(52, 58, 64);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/* LOADER CSS END */

.formColumn {
  position: relative;
  margin: 6px !important;
}

.password-box {
  position: relative;
}

.plat-section {
  position: relative;
  padding: 40px;
}

.card-store {
  text-align: center;
  font-size: 1.1em !important;
  font-weight: 550 !important;
  transition: all 0.5s;
  cursor: pointer;
}

.card-store:hover {
  opacity: 0.9 !important;
}

.formColumn {
  display: none;
}

.row {
  position: relative;
  transition: all 0.3s;
}

.inner-form {
  position: relative;
  display: block;
  background-color: white;
  padding: 2%;
  width: inherit;
  height: auto;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  margin: 2%;
  transition: all 0.3s;
}
.inner-form:hover {
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.ic {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.3s;
}
.ic:hover {
  opacity: 1;
}

#title_form {
  opacity: 0;
}

#title_form > input {
  position: relative;
  width: 80%;
  height: 30px;
}

.submit-btn {
  position: relative;
  width: auto !important;
  height: 50% !important;
}

.inner-form > h5 {
  font-size: 1.4em;
}

#rem_cat {
  position: relative;
  float: right;
}

.rm-icon {
  position: relative;
  cursor: pointer;
}

.fa-arrow-circle-right {
  position: relative;
  visibility: hidden;
  top: 23%;
  left: 50%;
  cursor: pointer !important;
}

.panopen-text {
  position: relative;
  margin: auto;
  top: 37%;
  left: 2%;
  font-size: 1.5em;
  font-weight: 700;
}

.card {
  cursor: pointer;
}

#panel {
  position: absolute;
  width: 96%;
  height: 150%;
  padding: 4%;
  z-index: 5;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: rgb(201, 201, 201);
  border-radius: 4px;
  color: black !important;
  margin: 10px;
}

.pass-panel {
  display: none;
}

.cross-panel {
  position: absolute;
  right: 8px;
  top: 4px;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}

.cross-panel:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.add-btn {
  position: relative;
  width: 100%;
}

.pass-cross {
  cursor: pointer;
  font-size: 1.3em;
}
