{% load static %}
{% load recaptcha2 %}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/charts-c3/plugin.css' %}" rel="stylesheet" />
    <!-- <link href="{% static 'assets/plugins/maps-google/plugin.css' %}" rel="stylesheet" /> -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.min.css' %}" />
    {% block header_css %}{% endblock %}
    
    <script src="{% static 'assets/js/vendors/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/crypto-js@3.1.9-1/crypto-js.js"></script>
    <script src="{% static 'assets/js/require.min.js' %}"></script>
    
    <script>
      requirejs.config({
          baseUrl: '{% get_static_prefix %}'
      });
    </script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    
    {% block header_js %}{% endblock %}
  </head>
  <body class="">
    {% include 'preloader.html' %}
    {% if is_user_switched == 1 %}
    <div class="alert alert-warning fixed-bottom mb-0">You are currently working as a different user. <a href="{% url 'accounts:logoutas' %}">Click Here</a> to switch back.</div>
    {% endif %}
    <div class="page">
      {% block page %}{% endblock %}
    </div>

    {% include 'analytics.html' %}
    {% recaptcha_init %}

    <!-- c3.js Charts Plugin -->
    <!-- <script src="{% static 'assets/plugins/charts-c3/plugin.js' %}"></script> -->
    <!-- Google Maps Plugin -->
    
    <!-- <script src="{% static 'assets/plugins/maps-google/plugin.js' %}"></script> -->
    <!-- Input Mask Plugin -->
    <script src="{% static 'assets/plugins/input-mask/plugin.js' %}"></script>
    <script src="{% static 'dashboard/js/dashboard.min.js' %}"></script>
    {% block footer_js %}{% endblock %}
  </body>
</html>
